/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
.DS_Store

/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/dev/tools/grunt/configs/local-themes.js
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/amasty/*
/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess
/pub/media/images/*
/pub/media/pwa/*
/pub/media/tigren/*
/pub/sitemap*

/var/*
!/var/.htaccess
/generated/*
!/generated/.htaccess

# PWA theme

app/design/frontend/Tigren/pwa/node_modules
app/design/frontend/Tigren/pwa/npm-debug.log
app/design/frontend/Tigren/pwa/.DS_Store
app/design/frontend/Tigren/pwa/.vscode
app/design/frontend/Tigren/pwa/jsconfig.json
app/design/frontend/Tigren/pwa/coverage
app/design/frontend/Tigren/pwa/test-results
app/design/frontend/Tigren/pwa/dist
app/design/frontend/Tigren/pwa/storybook-dist
app/design/frontend/Tigren/pwa/.idea
app/design/frontend/Tigren/pwa/test-report.xml
app/design/frontend/Tigren/pwa/test-results.json
app/design/frontend/Tigren/pwa/.env
app/design/frontend/Tigren/pwa/yarn-error.log
app/design/frontend/Tigren/pwa/docker/certs
app/design/frontend/Tigren/pwa/.history
!app/design/frontend/Tigren/pwa/**/__fixtures__/*/node_modules
app/design/frontend/Tigren/pwa/packages/**/*.tgz
!deploy.sh
!watch.sh
!build-analyze.sh