<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="question_create_listing_data_source" xsi:type="string">
                    Tigren\Question\Model\ResourceModel\Post\Collection
                </item>
                <item name="create_question_data_source" xsi:type="string">
                    Tigren\Question\Model\ResourceModel\Post\Collection
                </item>
                <item name="edit_question_data_source" xsi:type="string">
                    Tigren\Question\Model\ResourceModel\Post\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Tigren\Question\Model\ResourceModel\Post\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tigren_customer_question</argument>
            <argument name="resourceModel" xsi:type="string">Tigren\Question\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <preference for="Tigren\Question\Api\QuestionInterface" type="Tigren\Question\Model\Question"/>
</config>